html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block head
  body
    block body
      h2 Search - Python Google Search Web Scraper GET via POST

      //- how to do forms?
      form(action = "/googler_process" method = "POST")
        if data
          if data.search_parameters
            input(type = "text" size="60" name = "query" value = data.search_parameters.q )
          else
            input(type = "text" size="60" name = "query" value = "" ) 

        if !data
          input(type = "text" size="60" name = "query" value = "" ) 
        input(type = "submit" value = "Search")

      if data
        if data.error
          h2(style="color: red") #{data.error}

      if json
        h2 Raw JSON response
        textarea(rows="10" cols="75") #{json}

      if data
        if data.search_information
          p <b> #{data.search_information.total_results} </b>

      if related_searches2
        h2 Related Searches #{related_searches2.length}
      else
        h2 Related Searches
      if related_searches2
        for related in related_searches2
          //- li #{related.query} #{related.link}
          //- li a(href="/search?"+#{related.query}) #{related.query}
          a(href=related.link) #{related.query}
          br


      if data
        if data.related_questions
          h2 Related Questions #{data.related_questions.length}
        else
          h2 Related Questions
      else
          h2 Related Questions

      if data  
        if data.related_questions
          for relq in data.related_questions
            div
              a(href=relq.link target="_blank") #{relq.question}
              p #{relq.snippet}

      if data
        if data.organic_results
          h2 Results #{data.organic_results.length}
        else
          h2 Results
      else
          h2 Results

      if data
        if data.organic_results
          for result in data.organic_results
            a(href=result.link target="_blank") #{result.title}
            p #{result.snippet}

