html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block head
  body
    block body
      h2 Search - NodeJS Google Search Web Scraper GET via POST

      //- how to do forms?
      form(action = "/process_git" method = "POST")
        if data
          if data.search_parameters
            input(type = "text" size="60" name = "query" value = data.search_parameters.q ) 
          else
            input(type = "text" size="60" name = "query" value = "" )

        if !data 
          input(type = "text" size="60" name = "query" value = "" ) 
        input(type = "submit" value = "Search")

      if json
        h2 Raw JSON response
        textarea(rows="10" cols="75") #{json}
      //- input(type = "textbox" rows="5" cols="25" name = "json" value={data})
      //- input(type = "textarea" rows="5" cols="25" name = "json" value={data})
      //- textarea(rows="5" cols="25" value={json})
      //- h3 Search Parameters
      if data
        if data.search_information
          //- p Query: <strong> #{data.search_parameters.q} </strong>
          p Total Results: <b> #{data.search_information.total_results} </b>

      if data
        if data.organic_results
          h2 Results #{data.organic_results.length}
        else
          h2 Results
      else
          h2 Results

      if data
        if data.organic_results
          for result in data.organic_results
            a(href=result.link target="_blank") #{result.title}
            p #{result.snippet}

